body {
    text-align: center;
}

#contentDiv {
    text-align: left;
    width: 700px;
    margin: 0px auto;
}

p.info {
    font-size: small;
    color: grey;
}

h2 {
    font-weight: bold;
    font-size: medium;
}

#score {
    text-align: right; 
}

#plot {
    width: 600px;
    height: 200px;
}

#tooltip {
    position: absolute;
    border: 1px solid #777700;
    background-color: #ffffdd;
}

.output {
    border-collapse: collapse;
    border: 1px solid black
}

.output th {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

.output td {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    text-align: right;
}
